extends ../layouts/main

block content
  .container-dashboard
    h1 Bienvenido, Cliente!
    p Estas son las opciones que puede realizar desde su perfil:

    .buttons
      a.btn(href='/reservations/new') Hacer una reserva
      a.btn(href='/reservations/client-last-name') Ver mis reservas